global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  # Dynamic EC2 discovery - node_exporter
  - job_name: "ec2-node-exporter"
    ec2_sd_configs:
      - region: me-central-1
    relabel_configs:
      - source_labels: [__meta_ec2_tag_Monitoring]
        regex: enabled
        action: keep
      - source_labels: [__meta_ec2_tag_Role]
        regex: client
        action: keep
      - source_labels: [__meta_ec2_private_ip]
        target_label: __address__
        replacement: $1:9100
    metrics_path: /metrics

  # Dynamic EC2 discovery - promtail
  - job_name: "ec2-promtail"
    ec2_sd_configs:
      - region: me-central-1
    relabel_configs:
      - source_labels: [__meta_ec2_tag_Monitoring]
        regex: enabled
        action: keep
      - source_labels: [__meta_ec2_tag_Role]
        regex: client
        action: keep
      - source_labels: [__meta_ec2_private_ip]
        target_label: __address__
        replacement: $1:9080
    metrics_path: /metrics

  # Dynamic EC2 discovery - apache exporter
  - job_name: "ec2-apache-exporter"
    ec2_sd_configs:
      - region: me-central-1
    relabel_configs:
      - source_labels: [__meta_ec2_tag_Monitoring]
        regex: enabled
        action: keep
      - source_labels: [__meta_ec2_tag_Role]
        regex: client
        action: keep
      - source_labels: [__meta_ec2_private_ip]
        target_label: __address__
        replacement: $1:9117
    metrics_path: /metrics

  # Loki on monitoring server
  - job_name: "loki"
    static_configs:
      - targets: ["localhost:3100"]

