global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  # Scrape Prometheus itself
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  # Scrape Node Exporter from all clients (PRIVATE IP)
  - job_name: "node_exporter"
    static_configs:
      - targets:
{% for host in groups['role_client'] | default([]) %}
          - "{{ hostvars[host]['private_ip_address'] }}:9100"
{% endfor %}

  # Scrape Loki metrics
  - job_name: "loki"
    static_configs:
      - targets: ["localhost:3100"]

  # Scrape Promtail metrics from all clients (PRIVATE IP)
  - job_name: "promtail"
    static_configs:
      - targets:
{% for host in groups['role_client'] | default([]) %}
          - "{{ hostvars[host]['private_ip_address'] }}:9080"
{% endfor %}

